<html>
<head>
    <title><%= title %></title>
</head>
<body>
        <%- include ('_header') ; %>
        <!-- this is the content part (variable content) comes in body from the each controller that will render at runtime -->
        <%- body %>
        <%- include ('_footer'); %>
</body>
</html>