<h1> User Sign Up </h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Please Enter your name ">
    <input type="email" name="email" placeholder="Please Enter your email ">
    <input type="password" name="password" placeholder="Please Enter your password ">
    <input type="password" name="confirm_password" placeholder="Please agin enter your password ">
    <input type="submit" value="Sign Up">
</form>